/* PAGE */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #eeeef7;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  background-color: #31353d;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 70px;
  letter-spacing: .8px;
  color: #31353d;
  background-color: #92ccce;
  padding: 4px 18px 4px 80px;
  margin: 20px 0;
}

header a {
  color: #92ccce;
  font-size: 24px;
}

header ul {
  display: flex;
  list-style: none;
  margin: 26px 80px 0 0;
}

header ul li {
  border-bottom: 5px solid #92ccce;
  padding: 8px;
  margin: 10px;
}

/* HERO */

.hero {
  background-image: url(../images/hero-edit.jpg);
  background-size: cover;
  background-position: bottom;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
}

.hero h2 {
  font-size: 24px;
  width: 700px;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 10px;
}

.hero-face {
  padding: 18px 30px 0 30px;
  border-top: 2px solid #92ccce;
}

/* ABOUT ME */

.about {
  display: flex;
  justify-content: space-around;
  margin: 30px 90px 10px 140px;
  flex-wrap: wrap;
}

.about h2 {
  flex: .5 200px;
  color: #445877;
  font-size: 54px;
  text-align: right;
  padding: 6px 16px 80px 0;
}

.about-text {
  flex: 15;
  color: #445877;
  font-size: 20px;
  line-height: 1.5;
  padding-left: 40px;
  width: 70%;
  border-left: 5px solid #445877;
}

.about-p1 {
  margin-bottom: 20px;
}

/* WORK */

.work {
  display: flex;
  justify-content: space-around;
  margin: 30px 90px 10px 140px;
  flex-wrap: wrap;
}

.work h2 {
  flex: .5 200px;
  color: #445877;
  font-size: 54px;
  text-align: right;
  padding: 6px 16px 80px 0;
}

.work-images {
  flex: 15;
  color: #445877;
  padding-left: 40px;
  width: 70%;
  border-left: 5px solid #445877;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-lg {
  height: 650px;
  width: 100%;
  margin-bottom: 10px;
}

.img-sm {
  height: 200px;
  width: 49%;
  margin: 10px 0;
}

.run-buddy {
  background-image: url(../images/run-buddy.png);
}

.horiseon {
  background-image: url(../images/horiseon.png);
}

.portfolio-git {
  background-image: url(../images/portfolio-git.png);
}

.neural-net {
  background-image: url(../images/neural-net.png);
}

.tbd {
  background-image: url(../images/hero.jpg);
}

.img-sm,
.img-lg {
  border: 7px solid #92ccce;
}

.img-lg:hover,
.img-sm:hover {
  background-color: white;
  opacity: 70%;
}

.work-subtitle-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.img-text {
  background-color: #92ccce;
  color: #31353d;
  padding: 7px 10px;
  margin-bottom: 20px;
}

.img-text h3 {
  padding-bottom: 3px;
  font-size: 24px;
}

.img-text p {
  font-size: 14px;
}

/* CONTACT ME */

.mobile-tel {
  display: none;
}

.contact {
  display: flex;
  justify-content: space-around;
  margin: 30px 90px 30px 140px;
  flex-wrap: wrap;
}

.contact h2 {
  flex: .5 200px;
  color: #445877;
  font-size: 54px;
  text-align: right;
  padding: 6px 16px 0 0;
}

address {
  flex: 15;
  color: #445877;
  font-size: 20px;
  line-height: 1.5;
  padding-left: 40px;
  width: 70%;
  border-left: 5px solid #445877;
}

address ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin-top: 40px;
}

address ul li,
.desktop-tel {
  padding: 0 3px;
  border-bottom: 5px solid #31353d;
}

address ul li a,
.desktop-tel {
  font-style: normal;
  color: #31353d;
  font-size: 24px;
}

/* UTILITY CLASSES */

.margin-right {
  margin-right: 10px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1085px) {

  /* HEADER */

  header {
    background-color: #31353d;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    font-size: 100px;
    width: 100%;
    text-align: center;
    letter-spacing: .8px;
    color: #31353d;
    padding: 20px 0;
    background-color: #92ccce;
    margin: 0 0 20px 0;
  }

  header a {
    color: #92ccce;
    font-size: 32px;
  }

  header ul {
    display: flex;
    list-style: none;
    margin: 0 0 35px 0;
    flex-direction: column;
    align-items: center;
  }

  header ul li {
    border-bottom: 5px solid #92ccce;
    padding: 8px;
    margin: 10px;
  }

  /* HERO */

  .hero {
    height: 12%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
  }

  .hero h2 {
    font-size: 28px;
    width: 70%;
    line-height: 1.8;
    text-align: center;
    margin: 40px 0 30px 0;
  }

  .hero-face {
    padding: 40px 30px 40px 30px;
    border-top: 8px solid #92ccce;
  }

  /* ABOUT ME*/

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
  }

  .about h2 {
    flex: 0;
    width: 70%;
    font-size: 56px;
    text-align: center;
    padding: 60px 20px 10px 20px;
    border-bottom: 10px solid #445877;
  }

  .about-text {
    flex: 0;
    padding: 0 40px 0 40px;
    width: 100%;
    border: none;
    margin: 50px 0 0 0;
    font-size: 26px;
  }

  /* WORK */
  
  .work {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
  }
  
  .work h2 {
    flex: 0;
    width: 70%;
    font-size: 56px;
    text-align: center;
    padding: 60px 20px 10px 20px;
    border-bottom: 10px solid #445877;
  }

  .work-images {
    flex: 0;
    padding: 0 40px 0 40px;
    width: 100%;
    border: none;
    margin: 60px 0 30px 0;
  }
  
  .img-lg {
    height: 200px;
  }
  
  .img-sm {
    width: 100%;
    margin-right: 0;
  }

  /* CONTACT ME */

  .mobile-tel {
    display: inline-block;
  }

  .desktop-tel {
    display: none;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
  }
  
  .contact h2 {
    flex: 0;
    width: 70%;
    font-size: 56px;
    text-align: center;
    padding: 30px 10px 20px 10px;
    border-bottom: 10px solid #445877;
  }

  address {
    flex: 0;
    padding: 0 20px 0 20px;
    width: 100%;
    border: none;
    margin: 0 0 50px 0;
  }

  address ul {
    flex-direction: column;
    align-items: center;
  }

  address ul li {
    padding: 5px 0;
    margin: 0 0 20px 0;
  }

  address ul li a {
    font-size: 24px;
  }

}