/* PAGE */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #eeeef7;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
  background-color: #31353d;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 70px;
  letter-spacing: .8px;
  color: #31353d;
  background-color: #92ccce;
  padding: 4px 18px 4px 80px;
  margin: 20px 0;
}

header a {
  text-decoration: none;
  color: #92ccce;
  font-size: 24px;
}

header ul {
  display: flex;
  list-style: none;
  margin: 26px 80px 0 0;
}

header ul li {
  text-decoration: none;
  border-bottom: 5px solid #92ccce;
  padding: 8px;
  margin: 10px;
}

/* HERO */

.hero {
  background-image: url(../images/hero-edit.jpg);
  background-size: cover;
  background-position: bottom;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
}

.hero h2 {
  font-size: 24px;
  width: 700px;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 10px;
}

.hero-face {
  padding: 18px 30px 0 30px;
  border-top: 2px solid #92ccce;
}

/* ABOUT ME */

.about {
  display: flex;
  justify-content: space-around;
  margin: 30px 90px 10px 140px;
  flex-wrap: wrap;
}

.about h2 {
  flex: .5 200px;
  color: #445877;
  font-size: 54px;
  text-align: right;
  padding: 6px 16px 80px 0;
}

.about-text {
  flex: 15;
  color: #445877;
  font-size: 20px;
  line-height: 1.5;
  padding-left: 40px;
  width: 70%;
  border-left: 5px solid #445877;
}

/* WORK */